# ============================================================
# Variables de Entorno — Backend Veterinaria DW
# Copia este archivo como .env y completa con tus valores
# NUNCA subas el archivo .env al repositorio
# ============================================================

# Puerto del servidor
PORT=3000

# Cadena de conexión a MongoDB Atlas
# Formato: mongodb+srv://<usuario>:<contraseña>@<cluster>.mongodb.net/<base_de_datos>
MONGO_URI=mongodb+srv://USUARIO:CONTRASEÑA@cluster.mongodb.net/veterinaria?retryWrites=true&w=majority
